/********Essential on all websites**********/
* {
  margin: 0;
  padding: 0;
}

main {
  width: 80vw;
  max-width: 1000px;
  margin: 0 auto;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
  overflow: auto;
}
img {
  height: 100%;
  width: 100%;
  background-size: cover;
}
body {
  margin: 0;
  background: #e4b6a2;
  /* font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400; */
}
/***********nav bar styling***************/
nav {
  margin: 10px;
  height: 90px;
  text-align: right;
}
nav a {
  float: left;
  font-size: 14px;
  background-color: rgb(140, 78, 187);
  border: 1px solid #090dc5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}
