/********Essential on all websites**********/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/***********custom properties - styletile***********/
:root {
  /**fonts**/
  --ff-primary: "LFT Etica compressed", sans-serif;
  --ff-secondary: "LFT Etica", sans-serif;
  /**font weight**/
  --fw-reg: 300;
  --fw-bold: 900;
  /**font and background colors**/
  --clr-light: #ffffff;
  --clr-dark: #372d6c;
  --clr-medium: #f8b647;
  --clr-accent: #f161c7;
  /**font sizes**/
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  /**box shadow**/
  --bs: 0.25em 0.25em 0.77em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}
/**desktop version**/
@media (min-width: 800px) {
  :root {
    --fs-h1: 4rem;
    --fs-h2: 3.5rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/***********General styling***********/
/*So it doesnt jump when you scroll or click in the burger menu*/
html {
  scroll-behavior: smooth;
}
body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}
img {
  display: block;
  max-width: 100%;
}
section {
  padding: 5em 2em;
}
strong {
  font-weight: var(--fw-bold);
}

:focus {
  /*on all links there will be a thick border around it to show you pressed the button*/
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/***********button design***********/
.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-medium);
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-out;
}

.btn:hover {
  transform: scale(1.1);
}
/***********Typography***********/
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
p {
  font-size: var(--fs-body);
}
/***************section styling*****************/
.section__title {
  margin-bottom: 0.25em;
}
.section__title--intro {
  font-weight: var(--fw-reg);
}
.section__title--intro strong {
  display: block;
}
.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
  color: var(--clr-medium);
}
.section__subtitle--intro,
.section__subtitle--campaignvid {
  background: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}
.section__subtitle--pictures {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

/***********header section***********/
header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.logo {
  max-width: 200px;
}
.nav {
  position: fixed;
  background: var(--clr-medium);
  color: var(--clr-accent);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  /*moving the nav off the screen if at 100% and moving it to half of the screen if at 50% - 0% makes it easier to style it*/
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}
.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}
/*Color inherit - inherited from the element's parent*/
.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}
.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}
.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}
/*rotate hamburger animation*/
.nav-open .hamburger {
  transform: rotate(0.625turn);
}
/*the rotate animation makes a weird x, so this is to make a prettier x*/
.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}
.nav-open .hamburger::after {
  opacity: 0;
}
/**************hamburger section****************/

/*making one line as the start of the hamburger*/
.hamburger {
  display: block;
  position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px; /* the thickness of the lines */
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}
/*copy and pasting the hamburger line from before and making a line on top and under*/
.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

/***********Intro section***********/
.intro {
  position: relative;
}
.intro__img {
  box-shadow: var(--bs);
}
/*Property used to display an element as a inline-level block container*/
.section__subtitle--intro {
  display: inline-block;
}
/*Grid template areas - specifies areas within the grid layout*/
@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas: "img title" "img subtitle";
    grid-template-columns: min-content max-content;
  }
  /*grid area - specifies a grid item's size and location within a grid (the edges of its grid area)*/
  .intro__img {
    box-shadow: var(--bs);
    grid-area: img;
    min-width: 350px;
    position: relative;
    z-index: 2;
  }
  .section__subtitle--intro {
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1em);
  }
}

@media (min-width: 600px) {
  .section__subtitle--intro {
    left: 4.5em;
  }
}
/***************sketching fase*************/
.our-sketching {
  background-color: var(
    --clr-accent
  ); /* placeholder color if background picture doesnt show up on certain computers or while the picture loads */
  background-image: url(images/ourprocess.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-medium);
  text-align: center;
}

.section__title--sketching {
  color: var(--clr-dark);
  position: relative;
}
/*line under the h2 tag -pseudo element*/
.section__title--sketching::after {
  content: "";
  display: block;
  width: 3em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}
.sketching {
  margin-bottom: 4em;
}
.sketch {
  /*keeping the three columns on a bigger screen*/
  max-width: 500px;
  margin: 0 auto;
}
@media (min-width: 800px) {
  .sketching {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .sketch + .sketch {
    margin-left: 2em; /*making a space between the columns*/
  }
}
/* .sketch__img {
  width: 100px;
  height: 100px;
  background-size: cover;
} */
/***********campaign video section - the process of the campaign video***********/
.campaign-vid {
  max-width: 1000px;
  margin: 0 auto;
}
.campain-vid__img {
  box-shadow: var(--bs);
}
@media (min-width: 600px) {
  .campaign-vid {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }
  .section__title--campaignvid {
    grid-area: title;
  }
  /*Calc() - lets you perform calculation when specifying css property values. (Funktionen tager et enkelt udtryk som sin parameter med udtrykkets resultat som er brugt som værdi)*/
  .section__subtitle--campaignvid {
    /*making sure the text on the colored bar will never touch the image*/
    grid-column: 1/-1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }
  .campain-vid__img {
    grid-area: img;
    position: relative; /*making sure the image is on top of the bar*/
    z-index: 2;
  }
}
/***********portfolio sectionen***********/
.pictures {
  background-color: var(--clr-medium);
  color: var(--clr-dark);
  text-align: center;
}
.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.portfolio__item {
  background: var(--clr-accent); /* (can also be changed to the other colors) */
  overflow: hidden;
}
.portfolio__img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}
.portfolio__item:focus {
  position: relative;
  z-index: 2;
}
.portfolio__img:hover,
.portfolio__item:focus {
  transform: scale(1.2);
  opacity: 0.75;
}
/***********footer section***********/
.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}
.footer a {
  color: inherit;
  text-decoration: none;
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}
.footer__link:hover {
  text-decoration: underline;
}
.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}
.social-list__item {
  margin: 0 0.5em;
}
.social-list__link {
  padding: 0.5em;
}
