* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  max-width: 800px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.89);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.video-container .close {
  position: absolute;
  top: 10%;
  right: 25px;
  color: white;
  font-size: 25px;
  cursor: pointer;
}
.video-container video {
  width: 100%;
  outline: none;
  transition: all 0.3s;
}
.video-container.show {
  pointer-events: all;
  opacity: 1;
}
.video-container.show video {
  transform: scale(1);
}

.btn-purple {
  background-color: #372d6c;
  border: none;
  padding: 7px;
  border-radius: 13px;
  font-size: 0.8rem;
  text-align: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-family: lft-etica, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-size: 2.5rem;
  font-family: lft-etica-compressed;
  font-weight: 700;
  font-style: italic;
  margin-top: 30px;
}

h2 {
  font-size: 0.9rem;
  font-family: lft-etica, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
}

p {
  font-size: 0.9rem;
  font-family: lft-etica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.content2 p {
  background-color: white;
  max-width: 300px;
  padding: 10px;
}

.splash-section h2 {
  font-size: 1.3rem;
  font-family: lft-etica-compressed;
  font-weight: 400;
  font-style: italic;
}

.btn-video-txt,
.btn-kort p {
  font-size: 0.7rem;
  font-family: lft-etica, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.btn-kort {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-orange {
  background-color: #f8b647;
}

.section {
  padding-top: 35px;
  padding-bottom: 60px;
}

.btn-video {
  border-style: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  margin-top: 100px;
}

.btn-video svg {
  width: 60px;
  height: auto;
}

.splash-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.splash-section {
  background-image: url("images/splashbillede.png");
  background-size: cover;
  background-position: 35% 0%;
  height: 80vh;
  padding-top: 16px;
}

.splash-header img {
  width: 50px;
}

.splash-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 16px;
  padding-right: 16px;
}

.content {
  display: grid;
  gap: 20px;
  justify-items: start;
}

.content img {
  width: 100%;
  max-width: 700px;
}

.btn-pink {
  background-color: #f050c1;
  border: none;
  padding: 7px;
  border-radius: 13px;
  font-size: 0.8rem;
  text-align: center;
  color: #f8b647;
  text-decoration: none;
  text-transform: uppercase;
  font-family: lft-etica, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.txt-fat {
  font-weight: 700;
}

.txt-pink {
  color: #f050c1;
  font-weight: 700;
}

.content2 {
  display: grid;
  gap: 20px;
  align-items: flex-start;
  justify-content: space-between;
}

.content2 button {
  background-color: #372d6c;
  border: none;
  padding: 7px;
  border-radius: 13px;
  font-size: 0.8rem;
  text-align: center;
  color: #f8b647;
  text-decoration: none;
  text-transform: uppercase;
  font-family: lft-etica, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.form {
  display: grid;
  gap: 18px;
  padding: 16px;
  border: 2px solid #ffffff;
  max-width: 300px;
}

.form input {
  width: 100%;
  color: #000000;
  font-style: italic;
  padding: 8px 16px;
  background-color: #ffffff;
  font-weight: bold;
  border: none;
}

.content3 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
}

.content3 p {
  margin-bottom: 20px;
}

.content3 img {
  max-width: 100px;
}

.content3 span {
  font-weight: 700;
}

.form button {
  cursor: pointer;
}

@media (min-width: 600px) {
  .content2 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
  }
  p {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  .content {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  }

  .splash-section {
    background-image: url("images/splashbillede.png");
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    padding-top: 16px;
  }

  h1 {
    font-size: 4rem;
    margin-top: 30px;
  }
  .splash-section h2 {
    font-size: 1.8rem;
  }

  .btn-video-txt,
  .btn-kort p {
    font-size: 0.8rem;
    font-family: lft-etica, sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .btn-pink {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.2rem;
    border-radius: 15px;
  }
}

@media (min-width: 900px) {
  .container {
    max-width: 1000px;
  }

  .splash-section {
    background-image: url("images/splashbillede.png");
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    padding-top: 16px;
  }

  h1 {
    font-size: 5rem;
    margin-top: 30px;
  }
  .splash-section h2 {
    font-size: 2rem;
  }

  .btn-video svg {
    width: 70px;
    height: auto;
  }
}
