/********Essential on all websites**********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 80vw;
  max-width: 1000px;
  margin: 0 auto;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
  overflow: auto;
}
img {
  height: 100%;
  width: 100%;
  background-size: cover;
}
/*******body styling************/
body {
  background-image: url(images/splashbillede.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  background-color: #235b8f;
}
@media only screen and (max-width: 767px) {
  body {
    background-image: url(images/splashbillede.jpg);
  }
}
/***********nav bar styling***************/
nav {
  margin: 10px;
  height: 90px;
  text-align: right;
}
nav a {
  float: left;
  font-size: 14px;
  background-color: rgb(140, 78, 187);
  border: 1px solid #090dc5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}
/*********Play button and video inside***********/
.btn {
  text-decoration: none;
  padding: 15px 40px;
  background-color: aqua;
  color: white;
  border-radius: 40px;
  font-family: "Plateia", sans-serif;
  box-shadow: 0 10px 40px #4bcc3f;
  position: absolute;

  top: 60%; /*er ikke placeret rigtigt i mobile first*/
  left: 40%;
}
@media only screen and (max-width: 767px) {
  .btn {
    position: absolute;
    top: 70%;
    left: 35%;
  }
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: rgb(74, 74, 145);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.video-container .close {
  position: absolute;
  top: 10%;
  right: 25px;
  font-size: 25px;
  cursor: pointer;
}
.video-container video {
  width: 90%;
  max-width: 800px;
  transform: scale(0);
  box-shadow: 0 20px 20px blueviolet;
  outline: none;
  transition: all 0.3s;
}
.video-container.show {
  pointer-events: all;
  opacity: 1;
}
.video-container.show video {
  transform: scale(1);
}

/********Fonts etc.(skabelon - change everything)*******/
h1 {
  color: #000000;
  font-family: "Plateia", monospace;
  text-align: center;
  font-size: 3rem;
}
h2 {
  color: #000000;
  font-family: "Plateia", monospace;
  font-size: 1rem;
  text-align: center;
}
h3 {
  color: #020101;
  font-family: "Plateia", monospace;
  font-size: 0.75rem;
}
p {
  font-family: "Zen Kurenaido", monospace;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}
/********container for index*********/
.container {
  display: table;
  padding-top: 80px;
  width: 100%;
}

.content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
